.category-section{
    width: 100vw;
    height: 100vh;
    margin-bottom: 250px;
}

.category-subheading{
    color: white !important;
}

.category-section-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.category-card{
    width: 30vw;
    height: 380px;
    background-color: rgba(64, 57, 75, 0.603) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}

.category-section-text{
    text-align: center;
    margin-top: 20px;
    color: white;
}

.see-more{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.see-more-button{
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 100px;
    font-size: 16px;
    border: 4px solid yellowgreen;
}

@media (min-width: 300px) and (max-width : 750px) {
    .category-section-cards{
        flex-direction: column;
        margin-top: 30px;
    }
    .category-card{
        width: 80vw;
        height: 40vh;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .category-section{
        margin-bottom: 500px;
    }
}

@media (min-width: 750px) and (max-width: 1200px) {
    .category-card{
        height: 40vh;
    }
}