.team-card{
    height: 350px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
}

.team-card-image{
    width: 150px;
    height: 150px;
    background-color: orangered;
    border-radius: 100px;
    overflow: hidden;
}

.team-card-name{
    text-align: center;
    font-size: 18px;
    color: black;
}

.team-card-content{
    font-size: 14px;
    text-align: center;
    width: 90%;
    color: rgb(39, 39, 39);
    /* background-color: green; */
}