.container,
content {
  color: white;
  /* z-index: 10; */
  margin-bottom: 50px;
}
input,
a {
  font-weight: bold;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.container {
  /* position: fixed; */
  left: 0;
  right: 0;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #363333; */
}

.content {
  min-width: 2rem;
  border: 2px solid aqua;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}
.content a {
  padding: 0.4rem 2rem;
  border-radius: 2rem;
  color: white;
}
.content a:hover {
  background-color: aqua;
}
.search_space,
.search_space_a {
  max-width: 15rem;
  box-shadow: drop-shadow(0px 18px 54px rgba(0, 0, 0, 0.02));
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.56);
  background: linear-gradient(88deg, #00b2ff 8.8%, #faff00 128.71%);
  z-index: 10;
  padding: 0.5rem;
  border-radius: 5rem;
}
.search {
  width: 6rem;
  /* border-radius: 2rem; */
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 0.7rem;
}
.search::placeholder {
  color: white;
}

.joinus,
.joinus_a {
  color: aqua;
}

.hamburger {
  position: relative;
  display: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 100;
  background: none;
  outline: none;
  border: none;
  appearance: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  position: relative;
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is_active:before {
  /* transform:  */
  transform: translate(-8px, 5px) rotate(-45deg);
}
.hamburger.is_active::after {
  transform: rotate(45deg) translate(-17px, -7px);
}

.hamburger.is_active .bar {
  opacity: 0;
}

/* Mobile View */

.mobile_view {
  z-index: 20;
  position: fixed;
  top: 0;
  /* left: 0; */
  left: 100%;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  color: white;
  display: none;
  flex-direction: column;
  background-color: #363062;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  transition: 0.4s all;
  /* opacity: 0; */
}
.mobile_view a {
  width: 180px;
  text-align: center;
  border-radius: 0.4rem;
  background-color: #5D12D2;
}
.mobile_view.is_active {
  display: flex;
  left: 0;
}

@media screen and (max-width: 1024px) {

  .content {
    display: none;
  }
  .search_space {
    display: none;
  }

  .joinus {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .wrapper {
    justify-content: space-between;
    align-items: center;
    gap: 65px;
  }
  
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .image {
    height: 100%;
  }
  .image img {
    height: 50%;
  }
  .content {
    min-width: 1rem;
    border: 2px solid aqua;
    border-radius: 2rem;
    display: flex;
    align-items: center;
  }
  .content a {
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
    color: white;
  }
  .mobile_view.is_active {
    display: none;
  }
}
