html {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 100px;
}
.main .logo {
    width: 63%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: opacity(0.1);
}
.content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.content h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: rgba(0, 227, 241, 1);
    margin: 30px 0;
}
.content h1 {
    font-size: 75px;
    font-weight: 900;
    color: white;
    font-family: 'Gabarito', cursive;
}
.content h1 span {
    background: linear-gradient(90deg,yellow,rgba(0, 227, 241, 1));
    background-clip: text;
    color: transparent;
}
.content h2 {
    font-size: 55px;
    -webkit-text-stroke: 1px rgba(0, 227, 241, 1);
    background: transparent;
    color: transparent;
    margin: 40px 0;
}
.session {
    display: flex;
    gap: 30px;
}


.learnmore button {
    width: 200px;
    height: 40px;
    border: 2px solid rgba(0, 227, 241, 1);
    border-radius: 30px;
    color: rgba(0, 227, 241, 1);
    font-size: 27px;
}
.grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: opacity(0.15);
}
.temp {
    display: flex;
    align-items: center;
    justify-content: center;
}
.temp1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left {
    width: 220px;
}
.right {
    rotate: 180deg;
    width: 220px;
}

/* /////////////////// */

.sess_main {
    position: relative;
    margin-top: 50px;
}

.sess_card {
    width: 500px;
    height: 137px;
    background-color: rgba(52, 52, 52, 1);
    clip-path: polygon(100% 0, 100% 45%, 84% 99%, 0 100%, 0 0);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    cursor: pointer;
}
.box {
    width: 80px;
    height: 80px;
}
.triangle {
    position: absolute;
    z-index: 10;
    width: 100px;
    height: 100px;
    background: linear-gradient(rgb(0, 255, 166),rgb(0, 181, 241));
    clip-path: polygon(27% 100%, 100% 100%, 100% 32%);
    right: 0;
    bottom: 0;
    border-radius: 10px;
}
.card_content h2{
    color: aliceblue;
    font-weight: 500;
}


@media screen and (max-width: 600px) {
    
    .main {
        gap: 30px;
        min-height: 100vh;
        width: 100%;
        padding-bottom: 100px;
    }
    .main .logo {
        width: 83%;
        filter: opacity(0.1);
    }
    .content {
        margin-top: 100px;
        text-align: center;
    }
    .content h3 {
        font-size: 25px;
        margin: 10px 0;
    }
    .content h1 {
        font-size: 35px;
        font-weight: 900;
    }
    .content h2 {
        font-size: 25px;
        margin: 40px 0;
    }
    .session {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .sess_card {
        width: 300px;
        height: 100px;
        clip-path: polygon(100% 0, 100% 45%, 84% 99%, 0 100%, 0 0);
        border-radius: 20px;
    }
    .box {
        width: 50px;
        height: 50px;
    }
    .triangle {
        width: 60px;
        height: 60px;
        clip-path: polygon(27% 100%, 100% 100%, 100% 20%);
    }
    .card_content h2{
        font-size: 17px;
        color: aliceblue;
        font-weight: 500;
    }
    .card_content p {
        font-size: 13px;
    }
}